{% extends './base.html' %}
{% load students_extras %}
{% block content %}
    <h1 class="mb-5 mt-5" >Groups:</h1>
    <div class="container">
        <div class="row">
            <div class="col-7">

            </div>
            <div class="col">
                {% if user.is_staff %}
                <a href="groups/add/">
                <button class="btn btn-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="green" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
                </svg>
                </button>
                </a>
                {% endif %}
            </div>
            <div class="col">

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
            <div class="col-4">
                <div id="accordion">
                    {% for group in groups %}
                        <div class="card">
                            <div class="card-header-sm text-center" style="background-color: ghostwhite;" id="heading{{ group.group }}">
                                <h5 class="mb-0">
                                    <button class="btn btn-link " style="color: black;" data-toggle="collapse" data-target="#collapse{{ group.group }}"
                                            aria-expanded="true" aria-controls="collapse{{ group.group }}">
                                        {{ group.group_name|get_count_students }}
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse{{ group.group }}" class="collapse clear" aria-labelledby="heading{{ group.group }}"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <p><b>Course: {{ group.course }} </b></p>

                                    <p><b>Lecturer: </b></p>
                                    {% for teacher in group.teachers.all %}
                                        <p>{{ teacher.first_name}} {{ teacher.last_name}}, {{ teacher.email }}</p>
                                    {% endfor %}
                                    <p><b>Students: </b></p>
                                    {% for student in group.students.all %}
                                        <p>{{ student.first_name }} {{ student.last_name }} {{ student.email }}</p>
                                    {% endfor %}
                                    {% if user.is_staff %}
                                        <a href="groups/delete/{{ group.group }}">
                                        <button type="button" class="btn btn-danger">Delete</button>
                                        </a>
                                        <a href="groups/edit/{{ group.group }}">
                                        <button type="button" class="btn btn-success">Edit</button>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
{% if articles.paginator.num_pages != 1 %}
    {% include "academy/pagination.html" with page=groups  %}
{% endif %}
{% endblock %}