<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="/students">Students</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/lecturers">Lecturers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/groups">Groups</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/addstudent">Add Student</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/addlecturer">Add Lecturer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/addgroup">Add Group</a>
    </li>
</ul>