{% extends './base.html' %}

{% block content %}
    <h1 class="mb-5 mt-5" >Students:</h1>
    <div class="container">
        <div class="row">
            <div class="col-10">

            </div>
            <div class="col">
                {% if user.is_staff %}
                <a href="students/add">
                <button class="btn btn-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="green" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                </svg>
                </button>
                </a>
                {% endif %}
            </div>
            <div class="col">

            </div>
        </div>
    </div>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Email</th>
                {% if user.is_staff %}
                <th scope="col">Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for student in object_list %}
                <a>
                    <td>

                        <button type="button" class="btn btn-link shadow-none" data-toggle="modal" data-target="#staticBackdrop{{ student.student }}" >
                          <img src="{{ student.photo.url }}" class="rounded" alt="Photo" width="40" height="40">
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop{{ student.student }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <img src="{{ student.photo.url }}" class="rounded" alt="Photo" width="400" height="400">
                              </div>
                            </div>
                          </div>
                        </div>

                    </td>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name}}</td>
                    <td>{{ student.email }}</td>
                    <td>
                        {% if user.is_staff %}
                        <a href="delete/{{ student.pk }}">
                        <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                        <a href="/editstudent/new/{{ student.pk }}/">
                        <button type="button" class="btn btn-success">Edit</button>
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}